@(project: String, login: String, email: String)

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: normal; background-color: rgb(253, 253, 253);">
			<p>Thank you for signing the contributor license agreement. It will be reviewed shortly. For your convenience, attached is a copy in PDF format.</p>
			<table style="text-align: left;">
				<tr>
					<th>Project</th>
					<td>@project</td>
				</tr>
				<tr>
					<th>GitHub Login</th>
					<td>@login</td>
				</tr>
				<tr>
					<th>E-mail</th>
					<td>@email</td>
				</tr>
			</table>
		</div>
	</body>
</html>
