@(next: String, errorMessage: String)

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Contributor License Agreement Portal</title>
		<link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cla.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
		<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
	</head>
	<body>
		@navbar()
		<div class="container">
			<div class="page-header">
				<h4>Administrator Login</h4>
			</div>
			@if(errorMessage != null) {
				<div class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					@errorMessage
				</div>
			}
			<form id="loginForm" class="form-horizontal" action="@routes.AdminController.doLogin()" method="post" enctype="multipart/form-data">
				<div id="userGroup" class="form-group">
					<label class="col-sm-1 control-label">User</label>
					<div class="col-sm-11">
						<input id="user" type="text" class="form-control" name="user">
					</div>
				</div>
				<div id="passwordGroup" class="form-group">
					<label class="col-sm-1 control-label">Password</label>
					<div class="col-sm-11">
						<input id="password" type="password" class="form-control" name="password">
					</div>
				</div>
				@if(next != null) {
					<input type="hidden" name="next" value="@next">
				}
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-11">
						<div class="btn-toolbar bottom-padding">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript">
$('#loginForm').on('submit', function() {
	$('#userGroup').removeClass('has-error');
	$('#passwordGroup').removeClass('has-error');
	var hasError = false;
	var user = $('#user').val();
	var password = $('#password').val();
	if (0 === user.trim().length) {
		$('#userGroup').addClass('has-error');
		hasError = true;
	}
	if (0 === password.trim().length) {
		$('#passwordGroup').addClass('has-error');
		hasError = true;
	}
	return !hasError;
});
		</script>
	</body>
</html>
